@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

body {
    margin: 0;
}

h1 {
    color: #FFFFFF;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
}

h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
}

h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-image: url(../img/fon.png);
    height: 897px;
    width: 100%;
}

.header-top img {
    width: 100px;
    height: 35px;
}

button {
    color: #FFFFFF;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    width: 250px;
    height: 55px;    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FF8040;
    border: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.header-top {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: rgba(255, 255, 255, 1)    ;
}

.menu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(255, 128, 64, 0.8);
    backdrop-filter: blur(20px);
    height: 104px;
    width: 100%;
    align-items: center;
    display: flex;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    width: 679px;
    margin: 0 auto;
}

.form {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 12px 12px rgba(255, 128, 64, 0.2);
    width: 400px;
    height: 350px;
    padding: 80px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 50%;
    margin-bottom: 120px;
}

input {
    height: 50px;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.6);
    border: none;
}

.form div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form .checkbox {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #CF5C36;
}

.form button {
    margin: 40px auto 0 auto;
}  

.form p {
    margin-bottom: 40px;
    margin-top: 15px;
}

.about-us {
    width: 100%;
    height: 256px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FF8040;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 160px;
}

.content h1 {
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    width: 20%;
    height: 48px;
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
    margin-top: 40px;
    padding-left: 40px;
}

.content p {
    width: 80%;
}

.black {
    width: 100%;
    height: 4003px;
    background-color: rgba(40, 40, 40, 1); 
}

.abv {
    width: 90%;
    margin: 0 auto;
    padding-top: 160px;
    margin-bottom: 80px;
}

.abv h1 {
    margin: 0 auto;
    width: 238px;
    height: 48px;
}

.card {
    height: 401px;
    width: 295px;
    background: #CC6633;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

.card img {
    width: 85px;
    height: 85px;
    margin: 40px auto 20px auto;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.card h2 {
    background-color:#282828;
    width: 100%;
    text-align: center;
}

.card p {
    margin: 10px 40px auto 40px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.coaches h1 {
    margin: 160px auto 80px auto;
    width: 238px;
    height: 48px; 
}

.coach {
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    width: 80%;
    margin: 0 auto;
}

.blok {
    width: 49%;
    display: flex;
    flex-direction: row;
    height: 240px;
    background: #282828;
    box-shadow: 0px 0px 4px 4px rgba(204, 102, 51, 0.25);
}

.blok div {
    display: flex;
    flex-direction: column;
    
}

.blok .left {
    margin: 20px;
}



.circle {
    background: rgba(204, 102, 51, 1);    ;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }

.circles {
    width: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto 0 auto;
}

.sub h1 {
    margin: 160px auto 80px auto;
    width: 238px;
    height: 48px; 
}

.left-right {
    width: 295px;
    height: 320px;
    background: #CC6633;
}

.center {
    width: 400px;
    height: 412px;
    background: #CC6633;
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.price {
    width: 80%;
    height: 412px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price h2 {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px auto 8px auto;
}

.price h3 {
    background-color:#282828;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.left-right p {
    margin: 5px auto;
    text-align: center;
}

.center p {
    margin: 5px auto;
    text-align: center;
}

.line {
    width: 160px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
    margin: 5px auto;
}

.text {
    margin: 40px auto;
}